In [74]:
import tensorflow as tf

from tensorflow.keras import datasets, layers, models
import tensorflow.keras.backend as k
import matplotlib.pyplot as plt

In [75]:
import pandas as pd
import numpy as np

df = pd.read_csv('dataset.csv')
df_f = df

In [76]:
count = 0
for i in df['tablero'].values:
    df_f['tablero'][count] = np.fromstring(i, dtype="float64", sep=' ')
    

    count+=1
df_f

<ipython-input-76-a6c696fc89a7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f['tablero'][count] = np.fromstring(i, dtype="float64", sep=' ')

   resultado                                            tablero
0          1  [-1.0, -1.0, 0.0, -1.0, -1.0, 1.0, 0.0, 1.0, -...
1          0  [1.0, -1.0, 0.0, -1.0, 0.0, -1.0, -1.0, 1.0, -...
2          1  [1.0, 0.0, 1.0, 1.0, -1.0, 0.0, 1.0, -1.0, 1.0...
3          0  [0.0, -1.0, 0.0, -1.0, -1.0, 1.0, 1.0, 0.0, -1...
4          0  [1.0, 1.0, -1.0, -1.0, -1.0, 0.0, 1.0, -1.0, 1...
5          0  [1.0, 0.0, 1.0, 1.0, -1.0, 1.0, 1.0, 1.0, 0.0,...
6          0  [1.0, 1.0, 1.0, 1.0, 0.0, -1.0, -1.0, -1.0, 1....
7          1  [1.0, 1.0, 1.0, -1.0, 1.0, 0.0, 1.0, 0.0, -1.0...
8          0  [0.0, -1.0, 0.0, -1.0, 0.0, 1.0, 0.0, 0.0, 1.0...
9          0  [0.0, 0.0, -1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0,...

In [86]:
model = models.Sequential()
#model.add(layers.Conv1D(32, (3, 3), activation='relu', input_shape=(32, 32, 3)))
#model.add(layers.MaxPooling1D((2, 2)))
model.add(layers.Dense(128, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))
model.compile(optimizer='adam', loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True))

In [87]:
df_f

   resultado                                            tablero
0          1  [-1.0, -1.0, 0.0, -1.0, -1.0, 1.0, 0.0, 1.0, -...
1          0  [1.0, -1.0, 0.0, -1.0, 0.0, -1.0, -1.0, 1.0, -...
2          1  [1.0, 0.0, 1.0, 1.0, -1.0, 0.0, 1.0, -1.0, 1.0...
3          0  [0.0, -1.0, 0.0, -1.0, -1.0, 1.0, 1.0, 0.0, -1...
4          0  [1.0, 1.0, -1.0, -1.0, -1.0, 0.0, 1.0, -1.0, 1...
5          0  [1.0, 0.0, 1.0, 1.0, -1.0, 1.0, 1.0, 1.0, 0.0,...
6          0  [1.0, 1.0, 1.0, 1.0, 0.0, -1.0, -1.0, -1.0, 1....
7          1  [1.0, 1.0, 1.0, -1.0, 1.0, 0.0, 1.0, 0.0, -1.0...
8          0  [0.0, -1.0, 0.0, -1.0, 0.0, 1.0, 0.0, 0.0, 1.0...
9          0  [0.0, 0.0, -1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0,...

In [88]:
print(type(df_f['tablero'].values))

#print(pd.array(df_f['tablero'].values, dtype='Int32'))

print((df_f['tablero'].tolist()))

#table_train =  np.asarray(df_f['tablero'].to_numpy().tolist())

table_train = tf.convert_to_tensor(df_f['tablero'].tolist())
res_train = tf.convert_to_tensor(df_f['resultado'].tolist())


#table_train = np.asarray(df_f['tablero'].values).astype(np.float32)
#res_train = np.asarray(df_f["resultado"].values).astype(np.float32)
history = model.fit(table_train, res_train)

<class 'numpy.ndarray'>
[array([-1., -1.,  0., -1., -1.,  1.,  0.,  1., -1., -1.,  1., -1., -1.,
       -1.,  1., -1., -1.,  0., -1.,  0., -1.,  1., -1., -1., -1., -1.,
       -1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,
       -1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  1.,  0.]), array([ 1., -1.,  0., -1.,  0., -1., -1.,  1., -1.,  1.,  1., -1.,  0.,
       -1.,  0., -1.,  1.,  1., -1., -1.,  0.,  1., -1.,  1.,  0.,  1.,
       -1., -1., -1., -1., -1.,  1.,  1., -1.,  0.,  1.,  0., -1.,  1.,
        1.,  1., -1.,  0.,  1., -1.,  1.,  0.,  1.,  0.]), array([ 1.,  0.,  1.,  1., -1.,  0.,  1., -1.,  1.,  1.,  1., -1.,  1.,
        1.,  0.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,
        1.,  1.,  1.,  1.,  0.,  1.,  1., -1., -1.,  1.,  1.,  1., -1.,
       -1.,  0., -1.,  0., -1., -1.,  0., -1., -1.,  0.]), array([ 0., -1.,  0., -1., -1.,  1.,  1.,  0., -1., -1., -1., -1., -1.,
        1.,  0., -1.,  0., -1.,  0., -1.,  1., -1.,  1., -1., -1., -1.,
        0.,  1.,  1.,  1., -1., -1., -1., -1.,  1.,  1.,  0.,  1., -1.,
        1., -1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  0.]), array([ 1.,  1., -1., -1., -1.,  0.,  1., -1.,  1., -1.,  0., -1., -1.,
       -1.,  0.,  1.,  1., -1., -1., -1.,  0., -1., -1., -1.,  0., -1.,
        0., -1., -1.,  0., -1., -1.,  1., -1.,  1., -1., -1.,  1.,  1.,
        1.,  1.,  1., -1., -1.,  1.,  0.,  0.,  1.,  0.]), array([ 1.,  0.,  1.,  1., -1.,  1.,  1.,  1.,  0.,  1., -1., -1.,  0.,
       -1.,  0.,  1.,  0.,  1.,  0., -1.,  0.,  1.,  1.,  1.,  1.,  0.,
       -1., -1., -1.,  1.,  1.,  1.,  1., -1.,  0.,  0., -1.,  0., -1.,
        0., -1., -1., -1.,  0., -1., -1., -1.,  0.,  0.]), array([ 1.,  1.,  1.,  1.,  0., -1., -1., -1.,  1.,  0.,  1., -1.,  0.,
       -1.,  0., -1.,  1., -1.,  0., -1.,  0., -1., -1., -1.,  0.,  0.,
       -1., -1., -1.,  1.,  1., -1., -1.,  1.,  1., -1.,  1.,  1.,  1.,
        0.,  1.,  0., -1.,  1., -1., -1., -1.,  1.,  0.]), array([ 1.,  1.,  1., -1.,  1.,  0.,  1.,  0., -1.,  1., -1.,  1.,  1.,
        1.,  1.,  1., -1., -1.,  1.,  0.,  0., -1., -1., -1.,  0., -1.,
        1.,  1., -1.,  0.,  1., -1.,  0., -1.,  1.,  1.,  1., -1.,  0.,
       -1.,  0.,  1., -1.,  0., -1., -1.,  1.,  1.,  0.]), array([ 0., -1.,  0., -1.,  0.,  1.,  0.,  0.,  1.,  0.,  1., -1.,  0.,
        1.,  1.,  1.,  1.,  1.,  1., -1.,  0.,  1.,  0.,  0.,  0.,  1.,
       -1.,  1.,  1., -1.,  1.,  0.,  0., -1., -1.,  0.,  0.,  0.,  1.,
       -1.,  0., -1., -1., -1., -1.,  0., -1.,  0.,  0.]), array([ 0.,  0., -1.,  1.,  0.,  1.,  1.,  0.,  0.,  0., -1.,  1.,  0.,
        1., -1., -1., -1.,  1.,  1.,  1.,  1.,  1., -1., -1.,  1.,  1.,
       -1., -1.,  0., -1.,  1.,  1., -1.,  0., -1.,  1., -1., -1., -1.,
        0., -1.,  1.,  1.,  1.,  1., -1., -1., -1.,  0.])]
1/1 [==============================] - 1s 501ms/step - loss: 1.3916

In [89]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 128)               6400
_________________________________________________________________
dense_9 (Dense)              (None, 3)                 387
=================================================================
Total params: 6,787
Trainable params: 6,787
Non-trainable params: 0
_________________________________________________________________

In [110]:
print(np.array(df_f['tablero'].tolist()[0], dtype="float64"))

predict = model.predict(tf.convert_to_tensor(df_f['tablero'].tolist()))#.to_numpy()[0].reshape((-1, 49)))

[-1. -1.  0. -1. -1.  1.  0.  1. -1. -1.  1. -1. -1. -1.  1. -1. -1.  0.
 -1.  0. -1.  1. -1. -1. -1. -1. -1.  1.  1.  1.  1.  1.  1.  1.  1.  0.
  0.  1.  1. -1.  0.  1.  0.  0.  1.  0.  1.  1.  0.]

In [111]:
predict

array([[0.5536078 , 0.09275825, 0.35363397],
       [0.22982816, 0.14988633, 0.62028545],
       [0.6586812 , 0.12373815, 0.21758068],
       [0.59420973, 0.11546445, 0.2903258 ],
       [0.39269084, 0.1161841 , 0.49112502],
       [0.22421391, 0.36530536, 0.41048077],
       [0.28808048, 0.14255944, 0.56936   ],
       [0.43287954, 0.38972792, 0.17739251],
       [0.64126384, 0.12196564, 0.23677057],
       [0.31733152, 0.31482083, 0.3678477 ]], dtype=float32)